<div class="container">
  <section id="products">
    <div class="row">
      <div *ngFor="let book of books">
      <div class="col-md-4">
        <div class="thumbnail">
          <img [src]="book.imageUrl">
          <div class="caption">
            <h4 class="pull-right">
              <strong>{{book.price | currency: 'USD': true}}</strong>
            </h4>
            <h4><a href="product.html"><strong>{{book.name}}</strong></a></h4>
            <p><b>Author: </b>{{book.author}}</p>

            <p><strong>Product Code:</strong> <span class="text-warning">{{book.productCode}}</span></p>
            <p><strong>Release Date:</strong> <span class="text-warning">{{book.releaseDate}}</span></p>
            <p><strong>Genre:</strong> <span class="text-warning">{{book.genre | uppercase}}</span></p>
            <p><strong>Specifications :</strong> <span class="text-warning">{{book.specifications}}</span></p>
            <p><strong>In Stock :</strong> <span class="text-warning">{{book.inStock ? 'Available' : ' Not Available '}}</span></p>
              <p><strong>Rating:</strong>
                <span class="glyphicon glyphicon-star"></span>
                <span class="glyphicon glyphicon-star"></span>
                <span class="glyphicon glyphicon-star"></span>
                <span class="glyphicon glyphicon-star"></span>
              </p>
            <p><strong>Reviews: </strong> <span class="text-warning">{{book.starRating}}</span></p>
            <div style="text-align: center;">
              <a href="#" ><button class="btn btn-primary"  > Read More </button></a>
            </div>

          </div>
        </div>
      </div>
      </div>



    </div>
  </section>
</div>
